In [1]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [2]:
dataset=dataset.drop(columns=["sl_no"])
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:

from univariate import univariate
quan,qual=univariate.quanqual(dataset)

In [4]:
quan

['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [5]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [6]:
#Descriptive with outlier
descriptive=univariate.descriptive(dataset,quan)
descriptive

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,15.1,12.1,11.0,23.5,8.31,60000.0
1.5*IQR,22.65,18.15,16.5,35.25,12.465,90000.0
Lower_Outlier,37.95,42.75,44.5,24.75,45.48,150000.0
Upper_Outlier,98.35,91.15,88.5,118.75,78.72,390000.0
Min,40.89,37.0,50.0,50.0,51.21,200000.0
Max,89.4,97.7,91.0,98.0,77.89,940000.0

In [7]:
#Finding outliers and Replacing Outliers
lower,upper=univariate.findingoutliers(quan,descriptive)
if not lower or not upper:
    print("There is no potential outliers")
else:
    print("There are potential outliers \n Lower_Outliers=",lower,"\n Upper_Outliers=",upper)
    dataset=univariate.replacingoutliers(lower,upper,descriptive,dataset)
    print("Outliers are Replaced")
    descriptive=univariate.descriptive(dataset,quan)

There are potential outliers
 Lower_Outliers= ['hsc_p']
 Upper_Outliers= ['hsc_p', 'degree_p', 'salary']
Outliers are Replaced

In [8]:
descriptive

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,15.1,12.1,11.0,23.5,8.31,60000.0
1.5*IQR,22.65,18.15,16.5,35.25,12.465,90000.0
Lower_Outlier,37.95,42.75,44.5,24.75,45.48,150000.0
Upper_Outlier,98.35,91.15,88.5,118.75,78.72,390000.0
Min,40.89,42.75,50.0,50.0,51.21,200000.0
Max,89.4,91.15,88.5,98.0,77.89,390000.0

In [9]:
for columnName in quan:
    print(columnName,"Frequency Table")
    FreqTable=univariate.frequency(columnName,dataset)
    print(FreqTable)

ssc_p Frequency Table
     Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0           62.00         11                    11            0.106796
1           63.00         10                    21            0.097087
2           67.00          9                    30            0.087379
3           73.00          9                    39            0.087379
4           52.00          9                    48            0.087379
..            ...        ...                   ...                 ...
98          55.68          1                   211            0.009709
99          41.00          1                   212            0.009709
100         83.33          1                   213            0.009709
101         43.00          1                   214            0.009709
102         80.60          1                   215            0.009709

     Cumulative_Relative_Frequency
0                         0.106796
1                         0.203883
2                         0.291262
3                         0.378641
4                         0.466019
..                             ...
98                        2.048544
99                        2.058252
100                       2.067961
101                       2.077670
102                       2.087379

[103 rows x 5 columns]
hsc_p Frequency Table
    Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0          63.00         14                    14            0.153846
1          62.00         12                    26            0.131868
2          67.00          9                    35            0.098901
3          60.00          9                    44            0.098901
4          70.00          8                    52            0.087912
..           ...        ...                   ...                 ...
86         65.50          1                   211            0.010989
87         77.60          1                   212            0.010989
88         70.20          1                   213            0.010989
89         61.40          1                   214            0.010989
90         61.33          1                   215            0.010989

    Cumulative_Relative_Frequency
0                        0.153846
1                        0.285714
2                        0.384615
3                        0.483516
4                        0.571429
..                            ...
86                       2.318681
87                       2.329670
88                       2.340659
89                       2.351648
90                       2.362637

[91 rows x 5 columns]
degree_p Frequency Table
    Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0          65.00         20                    20            0.224719
1          66.00         13                    33            0.146067
2          72.00         12                    45            0.134831
3          64.00         11                    56            0.123596
4          58.00          9                    65            0.101124
..           ...        ...                   ...                 ...
84         64.80          1                   211            0.011236
85         56.30          1                   212            0.011236
86         88.50          1                   213            0.011236
87         56.87          1                   214            0.011236
88         77.60          1                   215            0.011236

    Cumulative_Relative_Frequency
0                        0.224719
1                        0.370787
2                        0.505618
3                        0.629213
4                        0.730337
..                            ...
84                       2.370787
85                       2.382022
86                       2.393258
87                       2.404494
88                       2.415730

[89 rows x 5 columns]
etest_p Frequency Table
    Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0          60.00         14                    14                0.14
1          80.00          8                    22                0.08
2          67.00          7                    29                0.07
3          75.00          7                    36                0.07
4          89.00          6                    42                0.06
..           ...        ...                   ...                 ...
95         87.55          1                   211                0.01
96         61.28          1                   212                0.01
97         88.56          1                   213                0.01
98         92.66          1                   214                0.01
99         91.00          1                   215                0.01

    Cumulative_Relative_Frequency
0                            0.14
1                            0.22
2                            0.29
3                            0.36
4                            0.42
..                            ...
95                           2.11
96                           2.12
97                           2.13
98                           2.14
99                           2.15

[100 rows x 5 columns]
mba_p Frequency Table
     Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0           56.70          3                     3            0.014634
1           62.48          2                     5            0.009756
2           64.15          2                     7            0.009756
3           64.08          2                     9            0.009756
4           61.29          2                    11            0.009756
..            ...        ...                   ...                 ...
200         74.49          1                   211            0.004878
201         53.62          1                   212            0.004878
202         69.72          1                   213            0.004878
203         60.23          1                   214            0.004878
204         60.22          1                   215            0.004878

     Cumulative_Relative_Frequency
0                         0.014634
1                         0.024390
2                         0.034146
3                         0.043902
4                         0.053659
..                             ...
200                       1.029268
201                       1.034146
202                       1.039024
203                       1.043902
204                       1.048780

[205 rows x 5 columns]
salary Frequency Table
    Unique_Value  Frequency  Cumulative_Frequency  Relative_Frequency  \
0       300000.0         22                    22            0.611111
1       250000.0         18                    40            0.500000
2       240000.0         15                    55            0.416667
3       390000.0         15                    70            0.416667
4       260000.0          7                    77            0.194444
5       200000.0          6                    83            0.166667
6       360000.0          6                    89            0.166667
7       265000.0          6                    95            0.166667
8       275000.0          5                   100            0.138889
9       220000.0          5                   105            0.138889
10      270000.0          4                   109            0.111111
11      210000.0          4                   113            0.111111
12      350000.0          3                   116            0.083333
13      216000.0          3                   119            0.083333
14      204000.0          2                   121            0.055556
15      236000.0          2                   123            0.055556
16      230000.0          2                   125            0.055556
17      280000.0          2                   127            0.055556
18      218000.0          2                   129            0.055556
19      252000.0          2                   131            0.055556
20      276000.0          2                   133            0.055556
21      320000.0          1                   134            0.027778
22      278000.0          1                   135            0.027778
23      231000.0          1                   136            0.027778
24      287000.0          1                   137            0.027778
25      268000.0          1                   138            0.027778
26      336000.0          1                   139            0.027778
27      380000.0          1                   140            0.027778
28      225000.0          1                   141            0.027778
29      233000.0          1                   142            0.027778
30      340000.0          1                   143            0.027778
31      255000.0          1                   144            0.027778
32      285000.0          1                   145            0.027778
33      290000.0          1                   146            0.027778
34      264000.0          1                   147            0.027778
35      295000.0          1                   148            0.027778

    Cumulative_Relative_Frequency
0                        0.611111
1                        1.111111
2                        1.527778
3                        1.944444
4                        2.138889
5                        2.305556
6                        2.472222
7                        2.638889
8                        2.777778
9                        2.916667
10                       3.027778
11                       3.138889
12                       3.222222
13                       3.305556
14                       3.361111
15                       3.416667
16                       3.472222
17                       3.527778
18                       3.583333
19                       3.638889
20                       3.694444
21                       3.722222
22                       3.750000
23                       3.777778
24                       3.805556
25                       3.833333
26                       3.861111
27                       3.888889
28                       3.916667
29                       3.944444
30                       3.972222
31                       4.000000
32                       4.027778
33                       4.055556
34                       4.083333
35                       4.111111