In [1]:
import pandas as pd
dataset=pd.read_csv("preproplacement.csv")
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

Independent Sample - Unpaired T-Test

Different group(male,female) but same condition(salary)

In [3]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
ttest_ind(male,female)

TtestResult(statistic=np.float64(2.0937842507001165), pvalue=np.float64(0.03746230397067219), df=np.float64(213.0))

Dependent Sample - Paired T-Test

Same group(male,female) but different condition(salary)

In [4]:
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=np.float64(0.6842940392688153), pvalue=np.float64(0.4949370716000775), df=np.int64(138))

In [6]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
o=dataset[dataset['hsc_b']=='Others']['salary']
c=dataset[dataset['hsc_b']=='Central']['salary']
ttest_ind(o,c)

TtestResult(statistic=np.float64(0.30570032095155825), pvalue=np.float64(0.7601313863865756), df=np.float64(213.0))

In [8]:
from scipy.stats import ttest_rel
od=dataset[dataset['hsc_b']=='Others']['degree_p']
om=dataset[dataset['hsc_b']=='Others']['mba_p']
ttest_rel(od,om)

TtestResult(statistic=np.float64(6.3307060052521305), pvalue=np.float64(3.6486086753452605e-09), df=np.int64(130))

Hypothesis Testing
Statement: Test whether ssc_p and hsc_p of male is same
Null hypothesis - There is no similarity between 10th pass and 12th pass
Alternate hypothesis - There is similarity between 10th pass and 12th pass

In [9]:
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=np.float64(0.6842940392688153), pvalue=np.float64(0.4949370716000775), df=np.int64(138))

pvalue>0.05, so accept Null hypothesis and reject alternate hypothesis

ANAVO

In [15]:
import scipy.stats as stats
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
stats.f_oneway(male,female)

F_onewayResult(statistic=np.float64(4.383932488479845), pvalue=np.float64(0.037462303970672337))

Null hypothesis - There is no significant difference between 10th pass,12th pass and degree pass
Alternate hypothesis - There is significant difference between 10th pass,12th pass and degree pass

pvalue>0.05, so accept null hypothesis and reject alternate hypothesis

In [17]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
model=ols('salary~C(gender)*C(specialisation)',data=dataset).fit()
anova_table=sm.stats.anova_lm(model, typ=2)
anova_table

                                   sum_sq     df          F    PR(>F)
C(gender)                    6.193861e+10    1.0   2.970153  0.086279
C(specialisation)            3.368065e+11    1.0  16.150937  0.000081
C(gender):C(specialisation)  2.230143e+08    1.0   0.010694  0.917733
Residual                     4.400126e+12  211.0        NaN       NaN